.container{
  width:100%;
  position: relative;
  margin:auto;
  overflow: hidden;
}

.container a{
  text-decoration: none;
  display:block;
  width:200px;
  font-family: fantasy;
  margin: 0 auto;

}

.container a:hover{
  color:black;
  font-family: monospace;
}
